.line-container {
  position: relative;
  width: 600px; /* Length of the line */
  height: 5px;
  /* margin: 50px auto; */

  background: #8a8686;
  display: flex;
  /* margin-top: 0px; */
}

.state-icon{
  color: #f1acd1;
  font-family: aspirer-neue;
}

.state-zero,
.state-one {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;
  gap: 12px;
}



.dot {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(135deg, #15afaf, #0a5959);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
