.side-list{
    padding-top: 80px;
    list-style: none;
}

.side-list li{
    padding-top: 160px;
    padding-right: 20px;
    font-size: 25px;
    background-color: blueviolet;
}

.menu-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; 
    height: 100%;
    background-color: rgb(14, 60, 92); /* Semi-transparent background */
    z-index: 3; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .menu-button{
    width: 160px;
    height: 60px;
    background-color: rgb(61, 22, 97);
  }
  