.side-list{
    padding-top: 80px;
    list-style: none;
}

.side-list li{
    padding-top: 160px;
    padding-right: 20px;
    font-size: 25px;
    background-color: blueviolet;
}

.menu-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; 
    height: 100%;
    background-color: rgb(14, 60, 92); /* Semi-transparent background */
    z-index: 3; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .menu-button{
    width: 160px;
    height: 60px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #1c4e6f; /* Button color */
    color: #ffffff; /* Text color */
    border: 1px solid #0c2331;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }

  .menu-button:hover{
    background-color: #0c2331;
  }
  